<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://cdn.marvel.com/content/1x/is_ironman_udh_l178_3840x2160_zxx_v1_110520.png"
      alt=""
      srcset=""
    />
  </div>
  <div class="big-card__title">
    <a href="#">
      <h1>Lorem ipsum dolor sit amet</h1>
    </a>
  </div>
  <div class="big-card__description">
    <a href="#">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, similique
        repellendus exercitationem hic ratione voluptates? Veniam neque
        inventore labore voluptate eum ipsa dolorum officia, deserunt tempore
        placeat itaque alias a!
      </p>
    </a>
  </div>
</div>
