.container__content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;
}

.content__cover > img {
  border: 3px solid grey;
  width: 500px;
  min-width: 500px;
  border-radius: 5px;
}

.content__description > p {
  margin-top: 20px;
  color: rgb(198, 197, 197);
}
